<h1>Listing article_section_types</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Articletext</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @article_section_types.each do |article_section_type| %>
  <tr>
    <td><%= article_section_type.Description %></td>
    <td><%= article_section_type.ArticleText %></td>
    <td><%= link_to 'Show', article_section_type %></td>
    <td><%= link_to 'Edit', edit_article_section_type_path(article_section_type) %></td>
    <td><%= link_to 'Destroy', article_section_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article section type', new_article_section_type_path %>
